 body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: linear-gradient(to right, #3498db, #e74c3c); /* Replace these colors with your desired ones */
        }
        header {
            background-color: #333;
            color: white;
            padding: 10px 20px;
            text-align: center;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .product {
            border: 5px solid #FFFFFF;
            margin-bottom: 20px;
            padding: 20px;
        }
        .payment-info {
            border: 1px solid #ccc;
            padding: 20px;
            margin-top: 20px;
        }
        .payment-info p {
            margin: 5px 0;
        }

p{
        color:#FFFFFF;
}
